header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: $--main--text-white;
    font-size: 14px;
    font-weight: 700;
    position: relative;
}
  
    .nav-bar {
      display: flex;
      align-items: center;
    }
  
    .nav-bar img {
      height: 60px;
      margin-right: 30px;
    }
  
    .nav-bar .email {
      display: flex;
      align-items: center;
    }
  
    .nav-bar .email:hover {
      color: $--main-theme-primary;
    }
  
    ul.nav-list {
      display: flex;
      align-items: center;
      gap: 30px;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    ul.nav-list li a {
      text-decoration: none;
      text-transform: uppercase;
      color: $--main--text-white;
      text-align: center;
    }
  
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 15px 35px;
      font-size: 16px;
      font-weight: 700;
      color: $--main--text-white;
      background: $--main-btn-color;
      border-radius: 50px;
      cursor: pointer;
      margin-left: 20px;
    }
  
  