
    $--main--background: #0f0715;
    $--main--text-white: #ffffff;
    $--main-theme-primary: #8750f7;
    $--main-theme-secondary: #2a1454;
    $--main-box-background: #140C1C;
    $--main-box-text-grey:#747779;
    $--main-btn-color: linear-gradient(to right, $--main-theme-primary 0%,  $--main-theme-secondary 100%);
    $--main-heading-color: linear-gradient(to right, $--main-theme-primary 0%, $--main--text-white 100%);
    $--main-hover-background: linear-gradient(90deg, $--main-theme-primary , $--main-theme-secondary );